body {
  background: -webkit-radial-gradient(center ellipse, #46536a 0%, #28354a 30%, #0f1623 70%);
  background: radial-gradient(ellipse at center, #0838D8 0%, #023280 30%, #0C0000 70%);
}

.inline {
  display: inline-block;
}

.cont {
  font-size: .5em !important;
  display: inline-block;
  padding: 0 10px !important;
  position: relative;
  top: -5px;
}

h8 {
  font-size: .7em;
}

h1 {
  
  text-shadow: 0 1px 0 #ccc, 0 2px 0 #c9c9c9, 0 3px 0 #bbb, 0 4px 0 #b9b9b9, 0 5px 0 #aaa, 0 6px 1px rgba(0, 0, 0, 0.1), 0 0 5px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.3), 0 3px 5px rgba(0, 0, 0, 0.2), 0 5px 10px rgba(0, 0, 0, 0.25), 0 20px 20px rgba(0, 0, 0, 0.15) !important;
}

.reveal p {
  font-size: 1.2em;
  line-height: 1.3em;
}
.reveal p.shadow {
  margin-top: 100px;
  text-shadow: 2px 2px 6px #000;
}
.reveal p small {
  font-size: .8em;
  color: rgba(0, 0, 0, 0.6);
  margin: 50px;
}
.reveal .slide-number {
  color: #fff;
}
.reveal .controls div.navigate-left {
  border-right-color: #5e769e !important;
}
.reveal .controls div.navigate-right {
  border-left-color: #5e769e !important;
}
.reveal .controls div.navigate-down {
  border-top-color: #5e769e !important;
}
.reveal .controls div.navigate-up {
  border-bottom-color: #5e769e !important;
}

img {
  border: 0 !important;
  background: transparent !important;
  box-shadow: none !important;
}
